Django==4.2.7
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0
psycopg2-binary==2.9.9
redis==5.0.1
python-decouple==3.8
Pillow==10.1.0
whitenoise==6.6.0
python-docx==1.1.0
django-jazzmin==2.6.0
jdatetime==4.1.1